body {
    background-color: rgb(47, 53, 59);
    color: rgb(151, 154, 170);

   /* color: rgb(65, 105, 225); */
}

footer {
     height: 90px;
}

.lol p {
    margin-top: 0px;
    margin-bottom: 0px;
}
